%aside
  %ul.nav
    = nav_item "Exercises", student_exercises_path
    = nav_item "Students", student_students_path
    = nav_item "Info", student_info_path
    = nav_item "Personal Project", student_personal_project_path
