.page-header
  .pull-right
    = link_to 'New Assessment', new_instructor_assessment_path, class: 'btn btn-info'

  %h2 gSchool Assessments

.row
  .col-md-12
    %table.table.table-hover
      %thead
        %th Name
        %th
      %tbody
        - @assessments.each do |assessment|
          %tr
            %td= link_to assessment.name, instructor_assessment_path(assessment)
            %td= link_to 'edit', edit_instructor_assessment_path(assessment)
