%p
  Here's your one-on-one schedule

%table
  %thead
    %tr
      %th Name
      %th Time
  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.student.full_name
        %td= appointment.time
