= render :partial => 'student/sub_nav'

.page-header
  %h1 Edit Submission for #{@submission.exercise.name}

= render "form", submission: @submission, url:  student_exercise_submission_path(@submission.exercise, @submission)
