= render :partial => 'student/sub_nav'

.page-header
  %h1 New Submission for #{@submission.exercise.name}

= render "form", submission: @submission, url: student_exercise_submissions_path(params[:exercise_id])
