- content_for(:outside_main) do
  .hero{:style => "background-image: url(#{@student.avatar_url(:hero)}), linear-gradient(10deg, #844507, #d37b05), none;"}
    .hero-inner
      .hero-copy
        %h1
          = @student.first_name
          %br
          = @student.last_name

