.page-header
  .pull-right
    = link_to 'Edit', edit_instructor_rubric_path(@rubric), class: "btn btn-info"

  %h1 #{@rubric.name}

.row
  .col-md-12
    %h2 Questions
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Description
      %tbody
        - @rubric.questions.each do |question|
          %tr
            %td= question.title
            %td= question
