.page-header
  %h2 Other Students

= render 'student/sub_nav'

%table.table
  %thead
    %tr
      %th Name
      %th Phone
      %th Email

  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.full_name, cohort_student_path(student.cohort, student)
        %td= student.phone
        %td= mail_to student.email, student.email
