= render 'student/sub_nav', tab: :class_notes

.page-header
  %h1 All Class Notes

- if @days.present?
  - @days.each do |week_number, days|
    %h3 Week #{week_number}
    %ul
      - days.each do |day|
        %li
          = link_to day.date.strftime("%B #{day.date.day.ordinalize}, %Y (%A)"),
                    cohort_class_note_path(@cohort, day),
                    class: day.css_class
- else
  .jumbotron
    %h2 Something has gone terribly, horribly wrong.
    %p.lead It could be one of many things... talk to a developer about it
