.page-header
  %h1 Assessments

= render 'instructor/cohorts/nav', cohort: @cohort

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @rubrics.each do |rubric|
      %tr
        %td= link_to rubric.name, cohort_rubric_path(@cohort, rubric)
