/*doc
---
title: Header
name: Header
category: basics
---
```html_example
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/assets/gschool_logo-large.png" alt="">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link active-nav-item"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <a href="javascript:void(0)" class="sign-in">Sign In</a>
    </div>
  </div>
</header>
```
*/

header.navigation {
  $navigation-padding: 1em;
  $navigation-background: white;
  $navigation-color: transparentize($dark-gray, 0.3);
  $navigation-color-hover: $orange-dark;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: $navigation-color-hover;
  $horizontal-bar-mode: $medium-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid transparentize($orange-dark, 0.5);
  height: $navigation-height;
  width: 100%;
  z-index: 999;
  margin-bottom: $base-line-height;

  .navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-right: 1em;

    img {
      max-height: $navigation-height;
      padding: .2em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .nav {
    z-index: 9999999;
    display: none;
    margin-left: 10px;
    @include media($horizontal-bar-mode) {
      display: block;
      float: left;
    }
  }

  ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Elements on the far right

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    float: right;

    @include media($large-screen) {
      background: transparent;
      clear: none;
    }

    a {
      float: right;
      margin: 13px;
      @include transition(all 0.2s ease-in-out);
      display: inline;
      background: $orange-dark;
      border-radius: $base-border-radius;
      color: white;
      font-size: .8em;
      font-weight: 800;
      text-transform: uppercase;
      padding: .4em .5em;

      @include media($horizontal-bar-mode) {
        padding: .4em 1em;
      }

      &:hover {
        background: lighten($orange-dark, 10);
      }
    }
  }
}
